name: Benchmarks

on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    types: [opened, reopened, labeled, synchronize]
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-suffix: benchmarks
          cache-dependency-glob: pyproject.toml
          # revert after this is fixed
          # https://github.com/wntrblm/nox/issues/953
          version: ">=0.6,<0.7"

      - name: Install nox and dvc
        run: uv pip install dvc[gs] nox --system

      - name: Pull dataset
        run: dvc --cd tests/benchmarks/datasets pull
      - name: Run benchmarks
        run: nox -s bench
